.card {
    margin: 1rem;
    padding: 2rem;
    background-color: #f3f3f3;
    border-radius: 0.6rem;
    box-shadow: 1px 3px 4px rgba(0,0,0,.1);
    h3 {
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.4rem;
    }
}

