.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    padding: 2rem;
    width: 23%;
    color: white;
    background-color: orange;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    transition: all 0.4s;
    &:hover {
        opacity: 1;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 3rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    &__tasks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 4rem;
        height: 4rem;
        font-weight: bold;
        color: #333;
        background-color: white;
        border-radius: 50%;
    }
}
