.sidebar-list {
    a {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        width: 100%;
        color: white;
        background-color: #444;
        border-radius: 0.4rem;
        transition: all .4s;
        &:hover {
            background-color: darken(#444, 3%);
        }
    }
}
