html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

* {
  outline: none;
}

body {
  position: relative;
  margin: 0;
  font-size: 1.8rem;
  background: white;
  transition: all 1.2s;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 1px;
  height: 100%;
  background-color: green;
  z-index: 10000;
}
body.error404, body.privacy-policy {
  padding-top: 3rem;
}
body.error404 .main-header .container, body.privacy-policy .main-header .container {
  border: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
@media screen and (max-width: 1200px) {
  p {
    font-size: 2.2rem;
  }
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1618px;
}
@media screen and (max-width: 1700px) {
  .container {
    width: 100%;
  }
}
.container__big {
  margin: 0 auto;
  max-width: 1660px;
  padding: 0 2rem;
}

input[type=submit]:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.user-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightskyblue;
}
.user-layout__title {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: white;
}

form input {
  display: block;
  margin-bottom: 2rem;
  width: 34rem;
  height: 4rem;
  text-indent: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
form input.is-invalid {
  border-color: red;
}
form .info {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
form .info a {
  text-decoration: underline;
  color: green;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  height: 4rem;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #0077ea;
}

.alert {
  margin-bottom: 3rem;
}
.alert li {
  display: block;
  margin-bottom: 0.6rem;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
}
.alert.alert-danger li {
  color: white;
  background-color: rgba(139, 0, 0, 0.3);
  border-color: darkred;
}
.alert.alert-success {
  color: white;
  background-color: rgba(0, 100, 0, 0.3);
  border-color: darkgreen;
}
